body {
  margin: 0;
  //background: #29292e;
  background: #f5f5f5;
  font-family: "Roboto Condensed", sans-serif;
}

.appContainer {
  margin-bottom: -100px;
}

.contentContainer {
  min-height: 500px;
}
