.headerBar {
  font-family: "Staatliches";
  font-size: 50px;
  height: 100px;
  background: #0a6fac;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 100px;
  width: 100px;

  @media (max-width: 675px) {
    width: 75px;
    height: 75px;
  }
}

.title {
  min-width: 100px;

  @media (max-width: 675px) {
    font-size: 7vw;
  }
}

.filler {
  min-width: 150px;

  @media (max-width: 675px) {
    min-width: 0;
  }
}

.navBar {
  font-family: "Staatliches";
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background: #0a6fac;
  border-top: 2px solid #ffffff;
  color: #ffffff;
}

.navLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
