.headerBar {
  font-family: "Staatliches";
  font-size: 50px;
  height: 150px;
  background: #1b1b1b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 125px;
  padding-left: 36px;
}

.title {
  min-width: 100px;
}

.filler {
  min-width: 100px;
}

.navBar {
  font-family: "Staatliches";
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background: #1b1b1b;
  border-top: 2px solid #ffffff;
  color: #ffffff;

  @media (max-width: 905px) {
    font-size: 30px;
  }
}

.navLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
