.footer {
  height: 100px;
  font-family: "Staatliches";
  font-size: 15px;
  background: #1b1b1b;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 905px) {
    font-size: 20px;
  }
}

.footerItem {
  display: flex;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}
